language: ruby
cache: bundler
rvm:
  - 2.1.6
  - 2.2.2
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
addons:
  postgresql: "9.3"
before_script:
    - psql -c 'create database refile_test;' -U postgres