language: ruby
cache: bundler
rvm:
  - 2.1.6
  - 2.2.2
  - 2.3.1
  - ruby-head
matrix:
  allow_failures:
    - rvm: ruby-head
addons:
  postgresql: "9.3"
before_script:
    - cat $TRAVIS_BUILD_DIR/postgres-setup | psql -U postgres
